<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Achat-centrale - Se connecter</title>
    <meta name="description" content="Centrale d'achat / Centrale d'achat pour les entreprises">
    <meta name="author" content="Achat Centrale">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('assets/Login/css/tuktuk.css') }} ">
    <link rel="stylesheet" href="{{ asset('assets/Login/css/tuktuk.icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/Login/css/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/Login/css/framework.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/Login/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/Login/css/jquery.maximage.min.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Favicons -->
    <link rel="icon" href="{{ asset('images/Favicon/logo_favicon.png') }}">


</head>
<body id="content">
<header id="header">
    <div class="row">
        <div class="column_2">
            <a class="logo txtCenter" href="./" alt="Retour à l'accueil" title="Retour à l'accueil">
                <img class="marginTopX1_5 inline responsive" src="{{ absolute_url(asset('images/Logo/logo_final_banner.png')) }}" alt="Achat centrale" title="Achat Centrale"  />
            </a>
        </div>
        <div class="column_10">
            <p class="baseline">Achat Centrale, <br />Regroupons nous pour mieux acheter</p>

            <nav>
                <ul class="primary">
                    <li><a class="scrollD" href="#connexion">Se connecter</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- slider -->
<section class="slider" id="connexion">



    <div class="loginBloc txtCenter">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="logoLogin">
            <img class="inline" src="{{ absolute_url(asset('images/Logo/logo_final_banner.png')) }}" alt="BMShop" title="BMShop" width="240" height="65" />
        </div>
        <h1>Connexion</h1>
        <form method="post" id="login">




            <div data-validate = "Username is required">
                <input value="{{ last_username }}" name="usMail" type="text" placeholder="Us Mail" required autofocus>
            </div>


            <div  data-validate = "Password is required">
                <input id="PASS" type="password" name="password"  placeholder="Password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="remember_me">
                <input name="remember-me" type="checkbox" id="remeberMe" value="true" />
                <label for="remeberMe">Se souvenir de moi</label>
            </div>




{#            <div class="forgot_password">#}
{#                <a href="Login.asp?Theme=Mot_de_passe_perdu" title="Mot de passe oublié" class="forgot">Mot de passe oublié</a>#}
{#            </div>#}
            <input type ="submit" id="loginButton" class="button" value="Se connecter">

        </form>
    </div>
    <div id="maximage">
        <div>
            <img width="1920" height="1280" src="{{ absolute_url(asset('assets/Login/images/slider/funecap1.jpg')) }}" class="" alt="" />
        </div>
        <div>
            <img width="1920" height="1280" src="{{ absolute_url(asset('assets/Login/images/slider/funecap2.jpg')) }}" class="" alt="" />
        </div>
        <div>
            <img width="1920" height="1280" src="{{ absolute_url(asset('assets/Login/images/slider/funecap3.jpg')) }}" class="" alt="" />
        </div>
    </div>
</section><!-- End slider -->

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/spin.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/jquery.scrollTo.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/jquery.spinjs.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/jquery.imagesloaded.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/tuktuk.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/jquery.cycle.all.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/jquery.maximage.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Login/js/scripts.js') }}"></script>
</body>
</html>



