{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

{% endblock %}


{% block body %}


    {% include 'Home/partials/header.html.twig' with {'rayons' : rayons, 'espacePrive' : espacePrive} %}



    <div class="site-content">

        <div class="welcome-container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h1>Bienvenue <b>{{ app.user.ccNom }} {{ app.user.ccPrenom }}</b></h1>
                </div>
                <div class="column">
                    <img src="http://v2.achatcentrale.fr/UploadFichiers/Uploads/CLIENT_1260/a-and-a-logo-1.png" alt="Logo" width="50px" height="50" style="margin-left: 55%;">
                </div>
            </div>
        </div>


        <div class="slider-promo">
            <div class="your-class">
                {% for s in slider %}
                    <div>
                        <img src="http://secure.achatcentrale.fr/UploadFichiers/Uploads/SLIDERS/{{ s["SL_SLIDE"] }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="container-promo">

            {% for p in produits %}
                <div class="promo">

                    <div class="title-promo">
                        <div class="columns">
                            <div class="column">
                                <div class="ligne"></div>
                            </div>
                            <div class="column has-text-centered">
                                <div>
                                    {{ p["PPC_DESCR"] | encodingFrom | categHome | raw }}
                                </div>
                            </div>
                            <div class="column">
                                <div class="ligne"></div>
                            </div>
                        </div>
                    </div>

                    <div class="product-promo">


                        <div data-cat="{{ loop.index0 }}" class="fleche-droite">
                            <img src="//v2.achatcentrale.fr/Images/Promo_FlecheDroite.png" alt="">
                        </div>
                        <div data-cat="{{ loop.index0 }}" class="fleche-gauche">
                            <img src="//v2.achatcentrale.fr/Images/Promo_FlecheGauche.png" alt="">
                        </div>
                        <div id="main-wrap" class="main-wrap gallery-mode" style="width: 100%;">
                            <div id="gallery-item">
                                <div id="list-items" class="clearfix temp-height lazy-load">

                                    <ul class="util-clearfix son-list ">

                                        {% set iteration = 0 %}

                                        {% for produit in p["produits"] %}


                                            <li id="item-{{ loop.index0 }}" {% if loop.index0 % 4 == 0 %}{% set iteration = iteration | default(0) + 1 %}data-iteration="{{ iteration }}"{% else %}data-iteration="{{ iteration }}" {% endif %} class="list-item list-item-first {% if loop.index0 > 3 %} hide-vignette {% endif %} item-categ-{{ loop.parent.loop.index0 }}">


                                                <div class="container-img-frs">
                                                    <img src="{{ produit["FO_ID"] | picFrs }}" alt="">
                                                </div>


                                                <div class="item">
                                                    <div class="container_nouveaute">
                                                        <div class="Nouveautes">
                                                            <p align="center" class="F_Cabin NouveautesTxt">Incontournable</p>
                                                        </div>
                                                    </div>

                                                    <div class="img img-border">

                                                        <div class="pic">
                                                            <a class="picRind " href="" target="_blank">
                                                                <img class="picCore pic-Core-v" src="{{ produit["PR_ID"] | product_pic }}" alt="">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="has-sku-image">
                                                        <a class="" href="" title="" target="_blank">
                                                            <p align="center" style="color: #df4e92;">Réf : {{ produit["PR_REF"] }}</p>
                                                        </a>
                                                    </div>



                                                    <div class="info">
                                                        <h3>
                                                            <a class="product " href="" target="_blank" >{{ produit["PR_NOM"] | encodingFrom | raw }}</a>
                                                        </h3>

                                                        <span class="price price-m">
                                                                {% if produit["PR_CONDT"] | replace({' ': ''}) == "àpartirde" %}
                                                                    <span class="unit">{{ produit["PR_CONDT"] | encodingFrom }}</span>
                                                                    <span class="value" itemprop="price_centrale">{{ produit["PR_PRIX_CA"] }} €</span>
                                                                    <span class="value-barre" itemprop="price_public">{{ produit["PR_PRIX_PUBLIC"] }} €</span>
                                                                    {% else %}
                                                                    <span class="value-barre" itemprop="price_public">{{ produit["PR_PRIX_PUBLIC"] }} €</span>
                                                                    <span class="value" itemprop="price_centrale">{{ produit["PR_PRIX_CA"] }} €</span>
                                                                    <span class="separator">/</span>
                                                                    <span class="unit">{{ produit["PR_CONDT"] | encodingFrom }}</span>
                                                                {% endif %}
                                                        </span>





                                                        <div class="has_stock">
                                                            <p>
                                                                <img src="http://www.centrale-funecap.fr/Images/Picto_StockOK.png" alt="en stock" width="15">&nbsp;en stock
                                                            </p>
                                                        </div>


                                                        <div class="container-type-lien">
                                                            {% if produit["PR_TYPE_LIEN"] == "ACHETER" %}

                                                                <form action="">
                                                                    <div class="columns">
                                                                        <div class="column">
                                                                            <span class="p-quantity-modified" id="produit-{{ produit["PR_ID"] }}" data-qty="{{ produit["PR_QTE_CMDE"] }}">
                                                                                <i class="p-quantity-decrease" data-role="decrease"></i>
                                                                                <input data-role="quantity-input" class="p-quantity-input" id="j-p-quantity-input" name="quantity" type="text" value="{{ produit["PR_QTE_CMDE"] }}" maxlength="5" >
                                                                                <i data-role="increase" class="p-quantity-increase"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="column">
                                                                            <button class="btn_add_to_cart F_Cabin" data-prid="{{ produit["PR_ID"] }}" data-price="{{ produit["PR_PRIX_VC"] }}" data-anchor="#produit-{{ produit["PR_ID"] }}" type="button" name="Submit" value="Ajouter au panier" style=" cursor:pointer;">
                                                                                <p style="white-space: nowrap;">Ajouter au panier</p><i class="fas fa-spinner fa-spin spin_btn_add_cart" style="display: none"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>



                                                            {% elseif produit["PR_TYPE_LIEN"] == "WEB" %}

                                                                <input class="btn_add_to_cart F_Cabin" type="button" name="Submit" value="J'y vais" style=" cursor:pointer;" >

                                                            {% elseif produit["PR_TYPE_LIEN"] == "DEVIS" %}

                                                                <input class="btn_add_to_cart F_Cabin" type="button" name="Submit" value="Devis" style=" cursor:pointer;" >

                                                            {% endif %}
                                                        </div>







                                                        <div class="info-more">
                                                            <br>


                                                            {% if produit["PR_DESCR_COURTE"]  %}

                                                                <h4><b>Decription du produit </b>:</h4>
                                                                <div class="description">
                                                                    {{ produit["PR_DESCR_COURTE"] | encodingFrom | raw }}
                                                                </div>

                                                            {% endif %}
                                                            <br>

                                                            {% if produit["PR_INFO_LIEN"] | spaceless | IsInfoExist %}

                                                                <div class="container-info-produit">
                                                                    <a class="F_Ubuntu FondRose Blanc" style="border-style:none; border-radius:5px; cursor:pointer; padding:5px;background-color: #DE359F;color: #FFFFFF;text-align: center" href="{{ produit["PR_INFO_LIEN"] }}">{{ produit["PR_INFO_TXT"] | encodingFrom }}</a>

                                                                </div>
                                                            {% endif %}

                                                        </div>

                                                    </div>
                                                </div>




                                            </li>

                                        {% endfor %}

                                    </ul>

                                </div>
                            </div>
                        </div>



                    </div>


                </div>
            {% endfor %}


        </div>
    </div>




{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="{{ asset('assets/js/Slider.js') }}"></script>
{% endblock %}