<header class="container_header">

    <div class="subHeader">
        <nav class="level container">
            <div class="level-left">
                <div class="level-item">
                    <div class="container-economie">
                        <div class="columns">
                            <div class="column is-7">
                                <p style="font-size: 10pt;padding-top: 6px;font-weight: 600;">Vos économies sont de</p>
                            </div>
                            <div class="column is-3">
                                <p class="value-economie">39 €</p>
                            </div>
                            <div class="column is-4" style="padding: 19px 12px;font-size: 9pt;font-weight: 700;">
                                <a href="">Voir détail</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-item">
                    <div class="columns" style="padding-top: 10px;margin-left: 5px">
                        <div class="column">
                            <img src="http://bmshop.fr/Images/Charte/Picto_Autres.png" alt="autres">
                        </div>
                        <a href="" style="margin-top: 13px; color: #7f7d74;"><p>Autres</p></a>
                    </div>
                </div>
            </div>

            <div class="level-right">
                <p style="margin-right: 15px;" >Contacter la centrale</p>
                <p class="level-item">
                    <a href="/logout" class="Texte_MenuHaut" title="Se déconnecter"><img src="http://bmshop.fr/Images/Charte/Picto_SeDeconnecter.png" alt="Se déconnecter" width="30" height="32" border="0"></a>
                </p>
            </div>
        </nav>
    </div>




    <div class="first-level">
        <div id="header-logo">
            <h1>
                <a title="Achat centrale" href="/">
                    <img class="header-logo-picture" src="{{ absolute_url(asset('images/Logo/Logo_ac_home.png')) }}" alt="Achat centrale">
                </a>
            </h1>
        </div>
        <div id="header-search">
            <form class="header-search-form">
                <input type="text" class="header-search-text" autocomplete="off"
                       placeholder="Je cherche un produit, une référence..." value="">
                <button type="submit" class="header-search-button">
                    <span class="img-header-loupe"></span>
                </button>
            </form>
        </div>
        <div id="header-easy-shopping">
            <div id="header-easy-shopping-button">
                <span class="img-header-easy-shopping"></span>
                <p class="title">PROMO</p>
            </div>
        </div>
        <div id="header-account">
            <div id="header-account-button">
                <a href="#" style="text-decoration:none;" data-connexion="actif" rel="nofollow">
                    <span class="img-header-account"></span>
                    <p class="title">MON COMPTE</p>
                    <p class="sub-title">{{ app.user.CCPrenom | capitalize }}  {{ app.user.CCNom | upper }}</p>
                </a>
            </div>
            <div class="header-account-menu arrow-account-box" style="display: none;">
                <div class="header-account-menu-top">
                    <p><i class="fas fa-user"></i>    &nbsp;{{ app.user.CCPrenom }}  {{ app.user.CCNom }}</p>
                </div>
                <div class="header-account-menu-detail">
                    <ul class="header-account-menu-liste">
                        <li><a href="">Mon espace client</a></li>
                        <li><a href="">Mes factures</a></li>
                        <li><a href="">Gérer mes utilisateurs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="header-cart">
            <div id="header-cart-button">
                <a href="#" style="text-decoration:none;" rel="nofollow">
                    <span class="img-header-cart"></span>
                    <span class="total-product">{{ panier_count() }}</span>
                    <p class="title">PANIER</p>
                    <p class="sub-title"> {{ panier_total()| number_format(2, ',', ' ') }}&nbsp;€ </p>
                </a>
            </div>
            <div class="header-cart-menu arrow-box" style="display: none;">
                {% if panier_count() > 0 %}
                    <div>
                        <div class="header-cart-menu-titre">
                            Vous avez <b>{{ panier_count() }}</b> produits dans votre panier
                        </div>
                        <div class="header-cart-menu-contenu">

                            <ul>
                                {% for p in panier %}
                                    <li>
                                        <img width="70px" src="http://secure.achatcentrale.fr/UploadFichiers/Uploads/PRODUIT_{{ p["PR_ID"] }}/{{ p["LOGO"] }}" alt="">
                                        <a href="#">{{ p["NOM_PRODUITS"] | raw }}</a>
                                        <span>{{ p["PRIX"]| number_format(2, ',', ' ') }}&nbsp;€ </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="header-cart-menu-bottom">
                        <a class="button is-black" href="">
                            <span><i class="fas fa-chevron-right "></i>   &nbsp;Voir mon panier</span>
                        </a>
                    </div>
                    {% else %}
                    <div class="header-cart-menu-empty">
                            <span>Panier vide...</span>
                            <br>
                            <a href="/" data-connexion="actif" rel="nofollow">
                                Découvrez nos bons plans
                            </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="nav-bar">
        <div class="menu-general">
            <ul class="menu-general-range">
                {% for r in espacePrive %}
                    <li><a href="">{{ r["CatTitre"] | raw }}</a></li>


                {% endfor %}
            </ul>
        </div>
        <div class="menu-rayon">
            <ul class="liste-rayon">


                {% for c in rayons %}
                    <li class="menu_item" data-key="rayons-{{ loop.index }}">
                        <div class="menu-case">
                            <a href="">{{ c["CatTitre"] | encodingFrom | raw }}</a>
                        </div>
                        <div id="rayons-{{ loop.index }}" class="rayons-content" style="display: none;">
                            <div class="columns">
                                <div class="column is-four-fifths">
                                    <div class="columns sub-menu">


                                        {% for sc in c["sousCategories"] %}
                                            <div class="column">
                                                <h3>
                                                    <a class="sub-menu-link" href="">{{ sc["CatTitre"] | encodingFrom }}</a>
                                                </h3>
                                                <ul class="sub-cat">
                                                    {% for ra in sc["rayon"] %}
                                                        <li><a href="{{ ra["URL"] }}">{{ ra["CatTitre"] | encodingFrom }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="column banners">
                                    <a href="">
                                        {#                                        <img src="https://fakeimg.pl/200x350/">#}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</header>

<div class="mask-menu" style="display: none;"></div>
