<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="ISO-8859-1">
    <title>{% block title %}ACHAT CENTRALE{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/Style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/Responsive.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="icon" href="{{ asset('images/Favicon/logo_favicon.png') }}">

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}


{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="{{ asset('assets/js/Menu.js') }}" ></script>
    <script src="{{ asset('assets/js/Produit.js') }}" ></script>
    <script src="{{ asset('assets/js/Panier.js') }}" ></script>
    <script src="{{ asset('assets/js/Account.js') }}" ></script>
{% block javascripts %}
{% endblock %}

{% include 'Home/partials/footer.html.twig' %}


</body>
</html>
